<div class="container">
    <div class="row top">
    	<div class="col-md-8 col-md-offset-2">
			<h1 style="margin-bottom:30px" class="text-center">AICHI街づくりデザインリーグ<br>アンケート</h1>
			<div class="panel panel-default entry-panel facilitation-back" style="background-color: #cbe4ee;">
	  			<div class="panel-body">
	  				10/28の講義で行った愛知県内の各市のプレゼンに関するアンケートです。アンケートに答えて頂くと、議論画面に変わります。
			  </div>
			</div>

			<%= render 'form' %>

			<%= link_to 'Back', root_path %>
		</div>
	</div>
</div>