/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/log/csv
/log/csv2
/tmp
/vendor/bundle
/public/uploads
/public/assets
.ruby-version
/config/database.yml
/config/unicorn.conf.rb
/app/assets/json/*.json
/app/assets/json/*.txt
/python/youyakutest/tools/*.pyc
/python/*.json
/python/youyakutest/tools/*.pyc
/python/youyaku0/input_data/*.csv
/python/youyaku0/output_data/*.csv
/python/youyaku1/input_data/*.csv
/python/youyaku1/output_data/*.csv
/python/clustering/file/*.txt
/public/log
/*.pyc
,/
/.idea