<div class="container">
    <div class="row top">
    	<div class="col-md-8 col-md-offset-2">
			<h1>New core_time</h1>

			<%= render 'form' %>
			<%= link_to 'Back', users_path %>
		</div>
	</div>
</div>
