<div class="panel panel-default">
  <div class="panel-body">
    <h3>Activity / あなたの活動</h3>
    <% @activities.each do |activity| %>
      <%= activity.created_at %>
      <%= activity.atype %>
      <br />
      <%= activity.entry.body %>
      <br />
    <% end %>
  </div>
</div>
