<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> Calender / カレンダー</h4>
  </div>
  <div class="panel-body">
    <div id="calendar"></div>
  </div>
</div>