<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> ファシリテーターお勧めキーワード</h4>
  </div>
  <div class="panel-body">
    <table class="table keywords">
      <thead>
        <tr>
          <th>スコア</th>
          <th>キーワード</th>
        </tr>
      </thead>
      <tbody>
        <% @facilitation_keyword.each_with_index do |(key, val), idx| %>
          <tr>
            <td id=""><%= key %></td>
            <td class="wordlist">
                <% val.each do |wordlist| %>
                  <span class="keyword-<%= idx %>">
                    <%= wordlist[:word] %>
                  </span>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
