<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> <%= t('themes.keyword_title') %></h4>
  </div>
  <div class="panel-body">
    <table class="table keywords">
      <thead>
        <tr>
          <th><%= t('themes.keyword') %></th>
        </tr>
      </thead>
      <tbody>
        <% @facilitation_keyword.each do |key| %>
          <tr>
            <td class="wordlist"><b><font size="4"><%= key[:word] %></font></b></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
