<span class="point"><%= "%.1f" % entry.point %></span>
<span class="info-icon">pt</span>
<span class="glyphicon glyphicon-star-empty"></span><span class="like_count info-icon"><%= entry.like_count %></span>
