<!-- フェーズモーダル -->
<div class="modal wd1">
  <div class="modalBody">
    <p class="close">×</p>
    <p>
      <%= image_tag "phase/phase-modal-01.png",class: "img-responsive" %>
    </p>
  </div>
  <div class="modalBK"></div>
</div>
<div class="modal wd2">
  <div class="modalBody">
    <p class="close">×</p>
    <p>
      <%= image_tag "phase/phase-modal-02.png",class: "img-responsive" %>
    </p>
  </div>
  <div class="modalBK"></div>
</div>
<div class="modal wd3">
  <div class="modalBody">
    <p class="close">×</p>
    <div>
      <%= image_tag "phase/phase-modal-03.png",class: "img-responsive" %>
    </div>
  </div>
  <div class="modalBK"></div>
</div>
<!-- フェーズモーダル -->