<% if !@theme.nolink %>
	<a rel="leanModal" href="#reply-modal-<%= entry.id %>">
	    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><span class="reply_button" data-id="<%= entry.id %>"> <%= t('themes.do_reply') %></span>
	</a>
<% end %>
