<% @entries.each_with_index do |entry, i| %>
  <div class="panel panel-default" id="entry-<%= entry.id %>">
    <div class="panel-body">
      <%= render 'entry', entry: entry %>
      <hr />
      <%= render 'reply_form', {entry: entry, i: i} if user_signed_in? %>
    </div>
  </div>
<% end %>
