<span class="thumb-up info-icon">
  <span class="glyphicon glyphicon-thumbs-up"></span>賛成 <%= entry.thread_positive_count %>
</span>
<span class="thumb-down info-icon">
  <span class="glyphicon glyphicon-thumbs-down"></span>反対 <%= entry.thread_negative_count %>
</span>
