<span class="thumb-up info-icon">
  <span class="glyphicon glyphicon-thumbs-up"></span><%= t('themes.agree') %> <%= entry.thread_positive_count %>
</span>
<span class="thumb-down info-icon">
  <span class="glyphicon glyphicon-thumbs-down"></span><%= t('themes.disagree') %> <%= entry.thread_negative_count %>
</span>
