
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">投稿</a></li>
  <li><a href="#profile" role="tab" data-toggle="tab">ファシリテーション</a></li>
</ul>

<%= render 'entry_form' %>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
  </div>
  <div class="tab-pane" id="profile">
    <%= render 'facilitation' %>
  </div>
</div>
