<div class="panel panel-default">

    <div class="panel-header" >
      <% if type == 1 %>
        <h4 class=""><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true" id="panel-tree"></span> 発散グラフ</h4>
      <% end %>
      <% if type == 2 %>
        <h4 class=""><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true" id="panel-tree"></span> 収束グラフ</h4>
      <% end %>
      <% if type == 3 %>
        <h4 class=""><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true" id="panel-tree"></span> 合意グラフ</h4>
      <% end %>
    </div>

     <div id="tree-container"></div>
    <% if type == 1 %>
        <%= render 'tree_hassan', entries: entries, theme: theme , entries: entries , entryAll: entryAll,youyaku: youyaku ,type: type %>
      <% end %>
      <% if type == 2 %>
        <%= render 'tree_shuusoku', entries: entries, theme: theme , entries: entries , entryAll: entryAll,youyaku: youyaku ,type: type %>
      <% end %>
      <% if type == 3 %>
        <%= render 'tree_hassan', entries: entries, theme: theme , entries: entries , entryAll: entryAll,youyaku: youyaku ,type: type %>
    <% end %>


</div>