<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= t('themes.user_title') %></h4>
  </div>
  <div class="panel-body">
    <% @theme.users.each do |user| %>
      <% if params[:locale] != 'en' %>
      <%= link_to image_tag(user_icon_path(user),
                            class: 'user-icon img-circle set-popover',
                            data: {
                              toggle: "popover",
                              placement: "bottom",
                              content: user.name.to_s + '｜' + t('themes.post') + ' ' + user.entry_count.to_s + ' / Like ' + user.like_count.to_s + t('themes.count')
                            }
                            ), '/users/' + user.id.to_s %>
      <% else %>
      <%= link_to image_tag(user_icon_path(user),
                            class: 'user-icon img-circle set-popover',
                            data: {
                              toggle: "popover",
                              placement: "bottom",
                              content: user.name.to_s + '｜' + t('themes.post') + ' ' + user.entry_count.to_s + ' / Like ' + user.like_count.to_s + t('themes.count')
                            }
                            ), '/users/' + user.id.to_s + '?locale=en'%>
      <% end %>
    <% end %>
  </div>
</div>
