<div class="panel panel-default">
  <div class="panel-body">
    <h3>投稿数ランキング！</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>順位</th>
          <th>ユーザー</th>
          <th>投稿件数</th>
        </tr>
      </thead>
      <tbody>
        <% users.each_with_index do |user, idx| %>
          <tr>
            <td id=""><%= idx + 1 %></td>
            <td id="">
              <%= link_to (image_tag user_icon_path(user),
                           class: 'user-icon img-circle',
                           data: {
                             toggle: "popover",
                             placement: "right",
                             content: user.name.to_s + '｜投稿 ' + user.entries.count.to_s + '件 / Like ' + user.likes.count.to_s + '件'
                           }
                           ), '/users/' + user.id.to_s %>　<%= user.name %>
            </td>
            <td id=""> <%= user.entries.where(theme_id: theme).count %> 件</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
