<div class="panel panel-default">
  <div class="panel-body">
    <h3>Users / 閲覧ユーザ</h3>
    <% @theme.users.each do |user| %>
      <%= link_to image_tag(user_icon_path(user),
                            class: 'user-icon img-circle set-popover',
                            data: {
                              toggle: "popover",
                              placement: "bottom",
                              content: user.name.to_s + '｜投稿 ' + user.entries.count.to_s + '件 / Like ' + user.likes.count.to_s + '件'
                            }
                            ), '/users/' + user.id.to_s %>
    <% end %>
  </div>
</div>
