<div class="panel panel-default">
    <div class="panel-header" >

        <h4 class=""><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true" id="panel-tree"></span> 議論ツリー</h4>

    </div>

      

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <div id="tree-container"　class="container">
    	<%= render 'tree_goui', entries: entries, theme: theme , entryAll: entryAll,youyaku: youyaku ,type: type,claster: claster ,fas: @facilitator ,user: user,youyaku_thread:youyaku_thread %>
    </div>


</div>