<div class="hero-image">
  <div class="smoke">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 hero-content">
        <h1>いつでも どこでも 何人でも <br />
          Web上の議論の場
        </h1>
      </div>
      <% unless user_signed_in? %>
        <div class="col-md-6 col-md-offset-3 hero-login">
          <%= link_to new_user_session_path do %>
            <span class="btn btn-default">ログイン</span>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <span class="btn btn-default">新規登録</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="page-header">
  <h1>Theme<small>/テーマ</small></h1>
  <%= link_to 'テーマ追加', new_theme_path, { class: 'btn btn-default', id: 'theme_create_btn'} if user_admin?(current_user) %>
</div>

<% @themes.each do |theme| %>
  <% if (theme.id == 1 and (current_user.id >= 3 and 9 >= current_user.id)) or (theme.id == 2 and (current_user.id >= 10 and 16 >= current_user.id) ) or (current_user.id == 1) %>
    <%= render 'theme', theme: theme %>
  <% end %>
<% end %>
