
<!-- Tab panes -->
<div class="tab-content" id="theme-show">
  <div class="tab-pane active" id="discussion">

    <div class="row">
      <div class="col-md-8">



        <div id="top-loading">
          <%= image_tag 'theme/icon-loading.gif' %>
        </div>

        <!-- それぞれの記事を表示するビュー -->
        <% current_user.role=2 %>
        <div id="timeline">
          <%= render 'themes/timelines', entries: @entries %>
          <%= paginate @entries %>
        </div>


        <div id="icon-loading">
          <%= image_tag 'theme/icon-loading.gif' %>
        </div>

      </div>


      <div class="col-md-4">

        <%#= render 'activity' if user_signed_in? %>
        <!-- 議題 -->
        <%# if smartphone? %>
          <%#= render 'facilitation_keywords_mobile' %>
        <%# else %>
          <%#= render 'facilitation_keywords' %>
        <%# end %>
        <% if !smartphone? %>
          <%= render 'theme_info' %>
          <%= render 'user_ranking', users: @users, theme: @theme %>
          <%#= render 'other_themes' %>
        <% end %>
      </div>
    </div>


  </div>




</div>

<%= render 'render_c3' %>

<%= javascript_include_tag 'pnotify.custom.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'theme_custom.js', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'mobile.css' if smartphone? %>



<script>
    modal.set();

    // 新しい投稿をリロード
    $(function(){
      var now = moment().format("YYYY-MM-DD HH:mm:ss dddd");

      setInterval(function(){
        $.ajax({
          url: "/themes/insert_entries/"+"<%= @theme.id.to_json %>",
          type: "GET",
          data: {
            time: now
                  },
          success: function(data) {
            console.log(data)
            if(data != 0){
              $("#timeline").html(data);

              $.ajax({
                url: "/api/entries/"+"<%= @theme.id.to_json %>"+"/edit",
                type: "GET",
                success: function(data) {
                  console.log(data)
                  if(data != null){
                    $("html,body").animate({scrollTop:$('#entry-'+data).offset().top-15});
                  }else{
                    $("html,body").animate({scrollTop:$('#timeline').offset().top-15});
                  }
                },
                error: function(data) {
                }
              });

              now = moment().format("YYYY-MM-DD HH:mm:ss dddd")

            }
          },
          error: function(data) {
        }
      });
      },10000);
    });
    // 新しい投稿をリロード

</script>
