<div class="row">
  <div class="col-md-12">
    <h1><%= @user.name %></h1>
    <h3>興味キーワード</h3>
    <% @keyword.each do |key, value| %>
      <h3><%= key %></h3>
      <% value.sort_by { |k| -k.score }.each do |word| %>
        <span class="user_keyword"><%= word.word %>(<%= word.score %>)</span>
      <% end %>
    <% end %>
  </div>
</div>
