<h1>返信されました！</h1>
<p>あなたの投稿「<%= cut_off(@entry.body, 30) %>」が<%= @from.name %>さんに返信されました。</p>

<h3>返信内容</h3>
<p><%= @reply.body %></p>

collagree / <a href="http://www.collagree.com">collagree.com</a>
