<div class="row">
  <div class="column_12 about padding">
    <h4 class="text bold padding-top">運営主体</h4>
    <h6 class="text bold margin-top">主催</h6>
    <ul class="hide-phone">
      <li>名古屋工業大学大学院 社会工学専攻 都市社会工学科 秀島栄三研究室</li>
      <li>名古屋工業大学大学院 産業戦略工学専攻 情報工学科 伊藤孝行研究室</li>
      <li>名古屋工業大学大学院 社会工学専攻 建築・デザイン工学科 伊藤孝紀研究室</li>
    </ul>
    <ul class="show-phone">
      <li>名古屋工業大学大学院</li>
      <li>・秀島栄三研究室（都市社会）</li>
      <li>・伊藤孝行研究室（情報）</li>
      <li>・伊藤孝紀研究室（建築・デザイン）</li>
    </ul>

    <br />
    <h6 class="text bold">共催</h6>
    <ul class="">
      <li>名古屋市</li>
    </ul>
    <br/>
    <p>
      COLLAGREEシステムは，名古屋工業大学の秀島研究室、伊藤孝行研究室、および伊藤孝紀研究室の共同研究に基づいて開発されているシステムです。COLLAGREEシステムを用いて得られた議論のデータやシステム利用状況のデータ等は、個人情報を保護した上で，研究・論文において利用させていただきます。
    </p>

    <h4 class="text bold margin-bottom" style="margin-top: 30px;">お問い合わせ</h4>
    <p class="padding-bottom white">
      <%= link_to 'お問い合せはこちらから', '#' %>
    </p>
  </div>
</div>
