<section class="margin-bottom bck">
  <div class="row padding-top padding-bottom">
    <div class="column_12">

      <h2 class="white theme margin-top margin-bottom text bold color theme">利用規約</h2>
      <h5 class="margin-bottom margin-top"><strong>投稿について</strong></h5>
      当サイトは、アカウントを取得すれば、自由に誰でも投稿可能です。<br />
      投稿者および閲覧者である参加者が、活発に有意義な議論を行う事を目的としております。<br />
      議論の妨げになるような投稿があった場合には、管理者により該当の投稿の削除、修正等の適切な処置を行う場合があります。<br />

      <h5 class="margin-bottom margin-top"><strong>不適切な投稿について</strong></h5>
      次項に示す投稿記事、又は、それに類似するような投稿記事は禁止いたします。<br />
      また、次項に示す投稿を行った場合、投稿者への連絡無しに、管理者の判断で記事削除、修正等の処置を行います。<br />
      悪質な場合には、管理者の判断で、アカウント削除、アクセス制限などの処置をする場合もあります。<br />
      全ての投稿に対する記事削除、修正等の処置および投稿者に対するアカウント削除、アクセス制限などの処置は、管理者の権限の元に責任を持って行います。<br />



      <h5 class="margin-bottom margin-top"><strong>投稿基準</strong></h5>
      以下に示す投稿記事、又は、それに類似するような不適切な投稿は禁止いたします。<br />

      <h6 class="color margin-top margin-bottom"><strong>当サイトの趣旨から逸脱した投稿</strong></h6>
      <ul class="$1">
        <li>掲示板のテーマと違うもの</li>
        <li>仲間の募集、被害者の募集、ネットワークビジネス、出会い系サイトの勧誘(法人、個人運営問わず)</li>
        <li>寄付金のお願い</li>
        <li>他サイト、他掲示板の批評</li>
        <li>ユーザーからユーザーへの警告</li>
        <li>相手が特定されている、または特定出来ると思われる個人的な連絡</li>
        <li>虚言(又はそれと疑わしきもの)、他人になりすましたもの。書き逃げ。自作自演で盛り上げているもの</li>
        <li>テスト書き込み(空白も含む)、無意味なもの、意味不明なもの</li>
        <li>10文字以上又は2行以上に渡る顔文字・絵文字</li>
      </ul>

      <h6 class="color margin-top margin-bottom"><strong>マルチポスト</strong></h6>
      マルチポスト(二重書き込み)、他の投稿と同一もしくは限りなく近い投稿。<br />
      同内容での連続投稿、掲示板違いの重複投稿、一定期間の連続投稿、書き込みソフトでの投稿、代理人の投稿はご遠慮下さい。

      <h6 class="color margin-top margin-bottom"><strong>個人・法人への誹謗中傷を含む投稿</strong></h6>
      <ul>
        <li>個人・法人への誹謗中傷(本名の投稿含む)、名誉の侵害、又はそのように誤解されるようなもの</li>
        <li>相手に被害が及ぶもの(例:○○が倒産しそう、など)、内部告発</li>
        <li>第三者に対する嫌がらせを行うもの</li>
        <li>脅迫的なもの、喧嘩口調、罵声、並びに相手を挑発すもの、相手を見下したようなもの、又はそれと誤解されるようなもの、相手並びに閲覧者の気分を害するようなもの</li>
        <li>お店・法人に対する営業妨害(噂、まずい、サービスが悪い、やめたほうがいいなど)</li>
        <li>暴露系書き込み</li>
      </ul>

      <h6 class="color margin-top margin-bottom"><strong>公序良俗に反する投稿</strong></h6>
      <ul>
        <li>18歳未満の閲覧に問題(風俗・ギャンブル・18歳以下立入り禁止されている店舗なども含む)のあるもの</li>
        <li>犯罪行為、又はそれを助長するもの</li>
        <li>訴訟中又は今後訴訟になりうるもの(例:医療過誤など)</li>
        <li>風説の流布(証券取引法に基づく)</li>
        <li>政治活動、宗教や思想活動</li>
        <li>著作権所有者の権利を侵すデータの掲載</li>
      </ul>

      <h6 class="color margin-top margin-bottom"><strong>反社会的集団に関する投稿</strong></h6>
      <ul>
        <li>反社会的集団やその活動に関わるもの</li>
        <li>犯罪集団、暴力集団やその活動に関わるもの</li>
      </ul>


      <h6 class="color margin-top margin-bottom"><strong>その他</strong></h6>
      <ul>
        <li>当サイトの信頼を損なう行為。以前に中傷行為を行った者の書き込み。サイト運営に関する意見、批評</li>
        <li>その他、管理者が判断する問題がある、又は今後問題になりそうなもの</li>
      </ul>

      <br />
      機種依存文字、半角カナ文字には、ご注意ください。<br />
      機種依存文字とは、特定の機種（windows機、Mac機、携帯端末とか）にだけにしか正しく表示しない文字の事です。<br />
      特定の機種でしか正しく表示しませんので、使わないようにしてください。<br />
      半角カナ文字は、インターネット上のサーバーが誤作動を起こす危険性があるので、使わないようにしてください。<br />

      <h5 class="color margin-top margin-bottom"><strong>投稿内容の取り扱いについて</strong></h5>

      管理者は、下記の判断基準により、適切な処置を行います。<br />

      <h6 class="color margin-top margin-bottom"><strong>個人名・住所・所属</strong></h6>
      <ol>
        <li>公開されているもの・情報価値があるもの・公益性が有るもの等は基本的に削除しませんが、削除の可否は管理人が判断します。</li>
        <li>外部から確認できない・責任や事象に無関係な情報は削除対象です。</li>
        <li>公開されたインターネットサイト・全国的マスメディア・電話帳で確認できる・等、隠されていない情報については削除しません。</li>
        <li>誹謗中傷の個人特定が目的である・文意により攻撃目的である等の場合は全て削除対象になります。</li>
      </ol>

      <h6 class="color margin-top margin-bottom"><strong>電話番号</strong></h6>
      <ol>
        <li>電話番号は、一部伏字・それを示唆するような文字列・等でも、確認方法が確立していない為に原則として全て削除対象です。</li>
        <li>明らかに公的な物・投稿者がハンドルキャップ使用・文意によって本人が公開したと判断できるもの・リンク先で確認できるもの・等は、自己責任として削除されないことがあります。</li>
      </ol>

      <h6 class="color margin-top margin-bottom"><strong>メールアドレス</strong></h6>
      <ol>
        <li>判断は文意によります。</li>
        <li>騙りの可能性や悪意が明らかで攻撃を目的としている・趣旨説明が無く衆目に晒すことを目的としている・等の場合、削除対象とします。</li>
      </ol>

      <h6 class="color margin-top margin-bottom"><strong>誹謗中傷</strong></h6>
      <ol>
        <li>個人を完全に特定する情報を伴っているものは削除対象です。</li>
      </ol>

      <h6 class="color margin-top margin-bottom"><strong>私生活情報</strong></h6>
      <ol>
        <li>情報価値が無く、私事のみの情報・第三者の確認できないプライベート情報は、個人が完全に特定されなくても、対象者に不利益が発生する可能性があれば、一律削除対象とします。</li>
      </ol>
      <br />
      以上
      <br />
      2013年9月20日
    </div>
  </div>
</section>
