<section class="margin-bottom bck">
  <div class="row padding">
    <div class="column_12 margin-bottom">
      <h2 class="white theme margin-top margin-bottom text bold color theme">プライバシーポリシー</h2>
      <h5 class="margin-bottom margin-top"><strong>当サイトにおける個人情報保護方針</strong></h5>
      当ウェブサイト（http://collagree.com/ 以下「当サイト」といいます。）は、名古屋工業大学大学院 秀島栄三研究室・伊藤孝行研究室・伊藤孝紀研究室が運営しています。
      ３研究室が所属する国立大学法人名古屋工業大学では、独立行政法人等の保有する個人情報の保護に関する法律（平成15年法律第59号）その他関係法令及び国立大学法人名古屋工業大学の保有する個人情報の保護に関する規程に基づき、個人情報を適切に取り扱っています。
      当サイトは、利用者の個人情報の取り扱いについてこれに準拠します。<br />
      以下では利用者の個人情報をどのように取得し、利用し、保護するかについて明らかにします。
      <h5 class="margin-bottom margin-top"><strong>本方針の適用範囲について</strong></h5>
      この方針は、以下のURLを有するウェブサイトに適用されます。<br />
      http://collagree.com/
      <h5 class="margin-bottom margin-top"><strong>個人情報の取得について</strong></h5>
      当サイトにおいて、個人情報（個人の氏名、住所、勤務地、性別、世代など）は、アカウント登録時、アンケートなどの際に取得します。
      <h5 class="margin-bottom margin-top"><strong>個人情報の利用目的について</strong></h5>
      当サイトにおいて取得した個人情報は、研究用途に利用いたします。
      <h5 class="margin-bottom margin-top"><strong>個人情報の管理について</strong></h5>
      利用者から提供された個人情報については、保護担当者を置き、適切な管理を行います。<br />
      本サイトは、個人情報の漏えい、滅失又はき損の防止その他個人情報の適切な管理のために必要な措置を講じます。
      <h5 class="margin-bottom margin-top"><strong>個人情報の第三者への提供について</strong></h5>
      本サイトは、本人の同意に基づく場合や法令で定める場合を除き、保有する個人情報を第三者に提供しません。<br />
      本サイトは、個人情報の取扱いに係る業務を外部に委託する場合には、個人情報に関する秘密保持等の義務、再委託の制限又は条件に関する事項、個人情報の複製等の制限に関する事項等を契約書に明記するとともに、委託先における責任者等の管理体制、個人情報の管理の状況についての検査に関する事項等の必要な事項について書面で確認します。<br />
      <br />
      以上 <br />
      2013年11月5日
    </div>
  </div>
</section>
