/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= stub active_admin
 *= require_self
 *= require jquery-ui/slider
 */

@import "bootstrap-sprockets";
@import "bootstrap";


#header-alert {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 10000;
  background-color: black;
  text-align: center;
  display: none;
}

#header-alert #point-alert {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  color: whitesmoke;
}

img.user-icon {
  width: 40px;
  height: 40px;
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

.modal-window {
	background-color: #FFFFFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	display: none;
	padding: 30px;
	width: 780px;
	height: 300px;
}

.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	/* widthとheightは閉じるボタンの画像の幅を指定 */
	width: 28px;
	height: 28px;
	/* 閉じるボタンの画像は自分で用意 */
	z-index: 2;
}