// Place all the styles related to the theme controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.next_link_div{
  background:#8899A6;
  padding:10px 0px;
  text-align:center;
  color:#fff;
}
.next_link_div:hover{
  opacity:0.80;
}

a.next_link_a_tag{
  color:#fff;
}
a.next_link_a_tag:hover{
  color:#fff;
}

.hero-image {
  background-image: url(/images/discussion2.jpg);
  background-size: cover;
  margin: -20px -15px;
}

.smoke {
  background: rgba(0, 0, 0, 0.2);
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 400px;
}

.col-md-8.hero-content {
  border-radius: 4px;
  padding: 20px;
}

.hero-image h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 16px rgba(255,255,255,0.3);
}

.hero-login {
  text-align: center;
}

.hero-login span.btn {
  width: 30%;
  margin: 0 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.hero-login span.btn:hover {
  background-color: #bbb;
}

.hero-login span.btn a{
  text-decoration: none;
  color: white;
}

.nav.margin-bottom {
  margin-bottom: 1em;
}

.table.point-table > tbody > tr > td {
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}

.point-table td#active_point, .point-table td#passive_point {
  font-size: 25px;
}

.user-score {
  font-size: 20px;
  font-weight: bold;
}

.ranking-table .rank-image {
  font-size: 18px;
}

/* .ranking-table .rank-score { */
/*   line-height: 40px; */
/* } */

.table.ranking-table > tbody > tr > td {
  line-height: 40px;
}

.ranking-table td.rank-1 {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.ranking-table td.rank-2 {
  font-size: 25px;
  font-weight: bold;
}

.ranking-table td.rank-3 {
  font-size: 20px;
  font-weight: bold;
}

.theme-image img {
  width: 80px;
  height: 60px;
}

.theme-image-disc img {
  width: 100%;
}

.theme-image-top img {
  width: 100%;
  height: 100%;
}

#theme-show {
  padding-top: 15px;
}

.keywords .wordlist {
  span {
    margin-right: 15px;
    word-break: break-all;

    &.keyword-0 {
      font-size: 24px;
      font-weight: bold;
    }

    &.keyword-1 {
      font-size: 22px;
      font-weight: bold;
    }

    &.keyword-2 {
      font-size: 20px;
      font-weight: bold;
    }

    &.keyword-3 {
      font-size: 16px;
    }

    &.keyword-4 {
      font-size: 14px;
    }
  }
}

.bold {
  font-weight: bold;
}

#entry_notice {
  display: none;
}

#reply_notice {
  display: none;
}

#object {
  display: none;
  height: 100px;
  width: 250px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-bottom: 100px;*/
  /* background: url('http://www.justinaguilar.com/animations/images/ross-v2.png') no-repeat center; */
  background-size: contain;
  visibility: hidden;
}

#sum_point {
  font-weight: bold;
  font-size: 32px;
}

.facilitation-phrase h4 {
  cursor: pointer;
}

.facilitation-phrase > ul {
  display: none;
}

#tl-tool {
  overflow: hidden;
}

#tl-order {
  float: left;
}

#issues {
  float: left;
  margin-left: 20px;
}

#issues .label.active {
  background-color: orange;
}

.children {
  margin-left: -30px;
}

.child {
  /* margin-left: 42px; */
  margin-top: 10px;
}

.reply-form {
}

.reply-label {
  cursor: pointer;
}

nav.pagination {
  display: none;
}

#icon-loading {
  display: none;
  text-align: center;
}

#top-loading {
  display: none;
  text-align: center;
}

// override
.label-success {
  background-color: #E05151 !important;
}
.label-warning{
  background-color: #3498DB !important;
}

.slider_np_bar {background: #E05151 !important;margin-top:2px;}
.slider .ui-slider-range { background: #3498DB; }
.slider .ui-slider-handle { border-color: #a3a3a3; }

.np-slider-label .label-success {
  float: right;
}

.cation-slider {
  float: right;
}

#stamp input[name="entry[stamp]"]{
  display: none;
}

.img-stamp {
  border-radius: 4px;
  width: 75px;
  border: 1px solid rgba( 0,0,0 , 0.1 );
}

.img-stamp-selected {
  border-radius: 4px;
  width: 75px;
  border: 1px solid rgba( 0,0,0 , 0.5 );
}

.phase img {
  width: 60%;
}

.f_image {
  float: left;
  /*border: 1px solid black;*/
  width: 7%;
  margin-right: 3%;
}

.f_image img {
  width: 100%;
}

.f_comment {
  float: left;
  /*border: 1px solid #000000;*/
  width: 88%;
}

.f_comment_btn {
  clear: both;
}


.page-top
{
  display: none ;
  margin: 0 ;
  padding: 0 ;
}

.page-top p
{
  margin: 0 ;
  padding: 0 ;

  position: fixed ;
  right: 16px ;
  bottom: 16px ;
}

a.move-page-top:link {
  color: #ffffff;
  background: #3498db;
  text-decoration: none;
}
a.move-page-top:visited {
  color: #ffffff;
  background: #3498db;
  text-decoration: none;
}
a.move-page-top:hover {
  color: #ffffff;
  background: #3498db;
  text-decoration: none;
}
a.move-page-top:active {
  color: #ffffff;
  background: #3498db;
  text-decoration: none;
}

.move-page-top
{
  display: block ;
  background: #3498db ;
  width: 120px ;
  height: 50px ;
  cursor: pointer ;

  color: #fff ;
  line-height: 50px ;
  text-decoration: none ;
  text-align: center ;

  border-radius: 4px;        /* CSS3草案 */
  -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 4px;   /* Firefox用 */

  -webkit-transition:all 0.3s ;
  -moz-transition:all 0.3s ;
  transition:all 0.3s ;
}


@media (max-width:780px) {
  .move-page-top:hover{
    opacity: 0.85 ;
  }

  .hero-image {
    background-image: url(/images/discussion3.png);
  }

}

a#top-theme:link { color:#333333; background-color: #f5f5f5; text-decoration:none }
a#top-theme:visited { color:#333333; background-color: #f5f5f5; text-decoration:none }
a#top-theme:hover { color:#333333; background-color: #f5f5f5; text-decoration:none }
a#top-theme:active { color:#333333; background-color: #f5f5f5; text-decoration:none }

#form-change-color-red:focus {
    border-color: red;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(256, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(256, 0, 0, 0.6);
}

#form-change-color-green:focus {
    border-color: green;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 256, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 256, 0, 0.6);
}

.entry-child-count-left {
    color: #8899a6;
    text-align: center;
    padding-bottom: 10px;
    font-size: 16.5px;
    margin-top: -10px;
}

.phase-top img {
  width: 100%;
  border-radius: 6px;
  // position: relative;
  // left: -20px;
  margin-bottom: 30px;
}

.child-content .thumb-box {
    float: left;
    margin-left: -50px;
    font-size: 1px;
    margin-top: 55px;
    text-align: center;
    width: 50px;
}

@media (max-width:780px) {
  .child-content .thumb-box {
    float: left;
    margin-left: -40px;
    font-size: 1px;
    margin-top: 45px;
    text-align: center;
    width: 40px;
  }
}

.entry-body-text {
  max-height: 220px;
  overflow: auto;
}

select.vote_form{
    font-family: inherit;
    width: 120px;
    height: 200px;
    font-size: 30px;
    border: 1px;
    padding: 6px 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding-bottom: 20px;
    height: 80px;
}

.vote-submit-btn:hover {
  text-align: center;
  background-color: #f39800;
  display: block;
  margin: 0 0 0 0;
  text-decoration: none;
  color: #fff;
  font-size: 135%;
  padding: 1.5%;
  width: 100%;
  border: none;
  border-radius: 4px;
  opacity: 0.6;
}

.vote-submit-btn {
  text-align: center;
  background-color: #f39800;
  display: block;
  margin: 0 0 0 0;
  text-decoration: none;
  color: #fff;
  font-size: 135%;
  padding: 1.5%;
  width: 100%;
  border: none;
  border-radius: 4px;
}


.modal{display:none;}
.modalBody{position: fixed; z-index:1000; background: white; width:690px; left:50%; top:50%; height: 460px}
.modalBK{position: fixed; z-index:999; height:100%; width:100%;background:#000; opacity: 0.4;filter: alpha(opacity=90);-moz-opacity:0.90;}
.btns{font-size: 80px; width:150px; background:#111; height: 150px; line-height:150px; text-align:center; font-family: arial; color: #fff; float: left; margin:10px; cursor: pointer}
.close{cursor: pointer; font-size: 10px;}
.modal{width:2090px; color: #eee;}
.modal p{font-size:60px; text-align:justify; padding: 0px 15px;}
.modal h1{font-weight:bold; font-size: 30px;}
.modalBody{padding: 10px;border-radius: 8px;}

@media (max-width:780px) {
  .modalBody{position: fixed; z-index:1000; background: white; width:360px; left:50%; top:50%; height: 280px}
  .modalBK{position: fixed; z-index:999; height:700px; width:100%;background:#000; opacity: 0.4;filter: alpha(opacity=90);-moz-opacity:0.90;}
  .modal{width:1400px; color: #eee;}
  .modal p{font-size:40px; text-align:justify; padding: 0px 10px;}
}

input.btn.btn-default.btn-sm {
  background-color: transparent;
  border-color: transparent;
  color: #8899a6;
  font-size: 14px;
}

.modal-body-max {
  max-height: 250px;
  overflow-y: auto;
}

