// Place all the styles related to the theme controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#object {
  display: block;
  height: 250px;
  width: 250px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-bottom: 100px;*/
  background: url('http://www.justinaguilar.com/animations/images/ross-v2.png') no-repeat center;
  background-size: contain;
  visibility: hidden;
}

.facilitation-phrase h4 {
  cursor: pointer;
}

.facilitation-phrase > ul {
  display: none;
}

#tl-tool {
  overflow: hidden;
}

#tl-order {
  float: left;
}

#issues {
  float: left;
  margin-left: 20px;
}

#issues .label.active {
  background-color: orange;
}

.child {
  margin-left: 20px;
}

.thread {
  margin-bottom: 10px;
}

.reply-form {
  display: none;
}

.reply-label {
  cursor: pointer;
}

nav.pagination {
  display: none;
}

#icon-loading {
  display: none;
  text-align: center;
}

.slider .ui-slider-range { background: #a3a3a3; }
.slider .ui-slider-handle { border-color: #a3a3a3; }